@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
:root {
  --background: oklch(0.92 0.00 301.42);
  --foreground: oklch(0.33 0.06 134.33);
  --card: oklch(0.97 0.00 325.59);
  --card-foreground: oklch(0.33 0.06 134.33);
  --popover: oklch(0.97 0.00 325.59);
  --popover-foreground: oklch(0.33 0.06 134.33);
  --primary: oklch(0.86 0.23 142.93);
  --primary-foreground: oklch(1.00 0 0);
  --secondary: oklch(0.86 0.01 304.23);
  --secondary-foreground: oklch(0.48 0.04 132.30);
  --muted: oklch(0.92 0.00 301.42);
  --muted-foreground: oklch(0.58 0.04 134.68);
  --accent: oklch(0.96 0.02 188.83);
  --accent-foreground: oklch(0.42 0.05 133.59);
  --destructive: oklch(0.50 0.26 271.65);
  --destructive-foreground: oklch(1.00 0 0);
  --border: oklch(0.86 0.01 304.23);
  --input: oklch(0.86 0.01 304.23);
  --ring: oklch(0.86 0.23 142.93);
  --chart-1: oklch(0.86 0.23 142.93);
  --chart-2: oklch(0.83 0.25 143.64);
  --chart-3: oklch(0.75 0.23 143.75);
  --chart-4: oklch(0.64 0.19 143.64);
  --chart-5: oklch(0.54 0.15 143.79);
  --sidebar: oklch(0.86 0.01 304.23);
  --sidebar-foreground: oklch(0.33 0.06 134.33);
  --sidebar-primary: oklch(0.86 0.23 142.93);
  --sidebar-primary-foreground: oklch(1.00 0 0);
  --sidebar-accent: oklch(0.96 0.02 188.83);
  --sidebar-accent-foreground: oklch(0.42 0.05 133.59);
  --sidebar-border: oklch(0.86 0.01 304.23);
  --sidebar-ring: oklch(0.86 0.23 142.93);
  --font-sans: Space Grotesk, serif;
  --font-serif: Lora, serif;
  --font-mono: Space Grotesk, serif;
  --font-display: "Kalam", cursive;
  --radius: 0rem;
  --shadow-2xs: 2px 2px 10px 4px hsl(120 3.92% 60.00% / 0.09);
  --shadow-xs: 2px 2px 10px 4px hsl(120 3.92% 60.00% / 0.09);
  --shadow-sm: 2px 2px 10px 4px hsl(120 3.92% 60.00% / 0.18), 2px 1px 2px 3px hsl(120 3.92% 60.00% / 0.18);
  --shadow: 2px 2px 10px 4px hsl(120 3.92% 60.00% / 0.18), 2px 1px 2px 3px hsl(120 3.92% 60.00% / 0.18);
  --shadow-md: 2px 2px 10px 4px hsl(120 3.92% 60.00% / 0.18), 2px 2px 4px 3px hsl(120 3.92% 60.00% / 0.18);
  --shadow-lg: 2px 2px 10px 4px hsl(120 3.92% 60.00% / 0.18), 2px 4px 6px 3px hsl(120 3.92% 60.00% / 0.18);
  --shadow-xl: 2px 2px 10px 4px hsl(120 3.92% 60.00% / 0.18), 2px 8px 10px 3px hsl(120 3.92% 60.00% / 0.18);
  --shadow-2xl: 2px 2px 10px 4px hsl(120 3.92% 60.00% / 0.45);
  --spacing: 0.23rem;
}

.dark {
  --background: oklch(0.22 0.01 307.82);
  --foreground: oklch(0.95 0.02 131.14);
  --card: oklch(0.27 0.01 304.87);
  --card-foreground: oklch(0.95 0.02 131.14);
  --popover: oklch(0.27 0.01 304.87);
  --popover-foreground: oklch(0.95 0.02 131.14);
  --primary: oklch(0.90 0.20 141.91);
  --primary-foreground: oklch(0.22 0.01 307.82);
  --secondary: oklch(0.33 0.01 305.01);
  --secondary-foreground: oklch(0.88 0.01 132.49);
  --muted: oklch(0.27 0.01 304.87);
  --muted-foreground: oklch(0.74 0.03 133.38);
  --accent: oklch(0.38 0.01 305.11);
  --accent-foreground: oklch(0.88 0.01 132.49);
  --destructive: oklch(0.50 0.26 271.65);
  --destructive-foreground: oklch(0.22 0.01 307.82);
  --border: oklch(0.33 0.01 305.01);
  --input: oklch(0.33 0.01 305.01);
  --ring: oklch(0.90 0.20 141.91);
  --chart-1: oklch(0.90 0.20 141.91);
  --chart-2: oklch(0.86 0.23 142.93);
  --chart-3: oklch(0.83 0.25 143.64);
  --chart-4: oklch(0.75 0.23 143.75);
  --chart-5: oklch(0.64 0.19 143.64);
  --sidebar: oklch(0.33 0.01 305.01);
  --sidebar-foreground: oklch(0.95 0.02 131.14);
  --sidebar-primary: oklch(0.90 0.20 141.91);
  --sidebar-primary-foreground: oklch(0.22 0.01 307.82);
  --sidebar-accent: oklch(0.38 0.01 305.11);
  --sidebar-accent-foreground: oklch(0.88 0.01 132.49);
  --sidebar-border: oklch(0.33 0.01 305.01);
  --sidebar-ring: oklch(0.90 0.20 141.91);
  --font-sans: Space Grotesk, serif;
  --font-serif: Lora, serif;
  --font-mono: Space Grotesk, serif;
  --font-display: Kalam, serif;
  --radius: 0rem;
  --shadow-2xs: 2px 2px 10px 4px hsl(0 0% 10.20% / 0.09);
  --shadow-xs: 2px 2px 10px 4px hsl(0 0% 10.20% / 0.09);
  --shadow-sm: 2px 2px 10px 4px hsl(0 0% 10.20% / 0.18), 2px 1px 2px 3px hsl(0 0% 10.20% / 0.18);
  --shadow: 2px 2px 10px 4px hsl(0 0% 10.20% / 0.18), 2px 1px 2px 3px hsl(0 0% 10.20% / 0.18);
  --shadow-md: 2px 2px 10px 4px hsl(0 0% 10.20% / 0.18), 2px 2px 4px 3px hsl(0 0% 10.20% / 0.18);
  --shadow-lg: 2px 2px 10px 4px hsl(0 0% 10.20% / 0.18), 2px 4px 6px 3px hsl(0 0% 10.20% / 0.18);
  --shadow-xl: 2px 2px 10px 4px hsl(0 0% 10.20% / 0.18), 2px 8px 10px 3px hsl(0 0% 10.20% / 0.18);
  --shadow-2xl: 2px 2px 10px 4px hsl(0 0% 10.20% / 0.45);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);
  --font-display: var(--font-display);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
::-webkit-scrollbar {
    @apply w-2.5 h-2.5;
   
}

::-webkit-scrollbar-track {
    @apply bg-transparent
}
 
::-webkit-scrollbar-thumb {
    @apply rounded-full bg-border border-[1px] border-transparent border-solid bg-clip-padding;
}
 